.whileNav{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(67, 67, 243);
    color: rgb(237, 230, 243);
}
li{
    display:inline;
    padding: 20px;
}
